<div class="col-10 offset-1">
  <h2 class="grill">About Grill Memories</h2>
  <br />
  <br />
  <br />

  <p class="about-blurbs">
    Grill Memories was built by <a target="blank" href="http://jacobdenholtz.getforge.io/">Jacob Denholtz</a>. Jacob worked at Grill for 5 years as a server, bartender, and floor manager.  Chances are that if you went to Grill between 2004 and 2009 you were served by him... now he has moved on to more intellectual endeavors.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'grillfront.jpg' , class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Grill</h2>
      <br />
      <p class="about-blurbs">
        Section about <a target="blank" href="https://www.tucsonweekly.com/tucson/grill/BestOf?oid=2207871">Grill</a> and its <a target="blank" href = "https://www.tucsonweekly.com/tucson/grill-1994-2011/Content?oid=4798557">closing</a>
      </p>

    </div>
  </div>

  <br class=clear />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ghostme.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jacob Denholtz</h2>
      <br />
      <p class="about-blurbs">
        Jacob Denholtz attained his bachelor's degree in biomedical engineering from the University of Arizona with a focus on biosensors and digital signal processing.  He has contributed to the development of an electromyography device designed to analyze an athlete's performance during a workout. His specific contribution included the development of an algorithm to determine the start and end points of each individual repetition during a workout, allowing the data associated with each repetition to be isolated for further analysis.
      </p>
    </div>
  </div>

</div>

<br class=clear />
<br />
<br />
<br />
<br />






