  <div class="row counter">
    <div class="col-12">
      Total GRILL Memories Contributed
      <br />
      <div class="memory-count">
        <%= @memory.id %>
      </div>
    </div>

  </div>
  
  <div class="col-12 hidden-xs-down insistonfood">
    <%= image_tag 'menuback4.png', class:'image-fluid'%>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />