<div class="row counter">
  <div class="col-12">
    Total GRILL Memories Contributed
    <br />
    <div class="memory-count">
      <%= @memory.id %>
    </div>
  </div>

</div>
  


<br class="clear" />
<br />
<br />
<br />