<h1>
  <span>Grill Memory No. <%= @memory.id %>:</span>
  &nbsp;I remember the time at Grill when...
</h1>
<br />

<h1>...<%= @memory.memory %></h1>
<h2 class = "float-right">- <%= @memory.author %>, <span><%= @memory.relationship %></span></h2>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />
