<h1>
  <span>Grill Memory No. <%= @memory.id %>:</span>
  &nbsp;Remember the time at Grill when...
</h1>
<br />

<h1>...<%= @memory.memory %></h1>
<h2 class = "float-right">- <%= @memory.author %>, <%= @memory.relationship %></h2>

<cr class="clear" />
<br />
<br />
<br />
<br />