<div class="container">  
  <div class="row">
    <div class="col-12 col-sm-4">
      <br />
      <%= image_tag 'menu.png' %>
    </div>

    <div class="col-12 col-sm-8">
      <%= image_tag 'menuinside.png' %>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
