@import "bootstrap";

.clear {
  clear: both;
}

header {
  border-top: 6px solid #58C1A9;
  border-bottom: 2px solid #F7EE5A;
  background: #51BC82;
}
.rocketgirl{
  height: 100px;
  width: 100px;
  display:block;
  margin: 0 auto;
}

.grill {
  font-family: 'instintobold';
  color:black;
  font-style: bold;
  font-size: 80px;
  
  text-align: center;
  line-height: 20%;
  margin-top: 35px;
}

.grill span{
  font-family: 'instintobold';
  color:black;
  text-align: left;
  font-size: 10px;
  letter-spacing: 2px;
  margin-right: 36px;
}

.links {
  padding-top: 26px;
  text-align: center;
}

.links a {
  font-family: 'instintobold';
  color:black;
  font-size: 25px;
  border-bottom: 1px solid black;
}

h1 {
  font-family: 'nimbus_sans_lbold_italic';
  color:black;
}

h2 {
  font-family: 'nimbus_sans_lbold';
  color:black;
}
h2 span {
    font-family: 'nimbus_sans_lbold_italic';  
    color: black;
}

h1 span {
  color: #F7EE5A;
  font-family: 'nimbus_sans_lbold';
}

body {
  background: #51BC82;
}

.next-memory {
  font-family: 'instintobold';
  color: black;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'instintobold';
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.footer-link {
  color: #F7EE5A;
}

@media (max-width: 750px) {
  .footer-blurb {
  text-align: left;
  }
  .refill {
  text-align: center;
  }
  .grill {
  font-size: 60px;
  letter-spacing: 10px;
  margin-top: 35px;
  margin-left: 30px;
}

.grill span{
  text-align: left;
  font-size: 7px;
  letter-spacing: 1px;
  margin-left: 28px;
}

}

.modal {
  font-family: 'nimbus_sans_lbold';
}

::selection {
  background-color: #58C1A9;
}

.about-blurbs {
font-family: 'nimbus_sans_lbold_italic';  
}

.egg-link {
  color: black;
}

.egg-link:hover {
  color: black;
  text-decoration: none;
  cursor: text;
}

.rules {
  margin-left: 40px;    
}

.insistonfood {
  margin-left: 280px;
}

.counter {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'instintobold';
}

.memory-count {
  font-family: 'nimbus_sans_lbold';
  font-size: 100px;
}

.createbtn {
  background-color: #51BC82;
}

